.token_h1 {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.3;
  color: #5b4f4f;
  z-index: 1;
}

.token_div {
  padding: 40px 5px;
  border: 1px solid #e8e6e6;
  background: #fcfcfc;
  border-radius: 15px;
  position: relative;
  margin: 2rem;
}

.tokenForm div {
  padding: 1rem;
}

.tokenForm div h4 {
  margin: 0rem;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding-left: 12px;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.tokenForm div input {
  font-family: "Poppins", sans-serif;
  margin-left: 2px;
  padding: 3px 9px;
  height: 20px !important;
  border-radius: 10px;
  color: rgba(89, 89, 89, 0.4196078431372549);
  width: 45%;
  font-size: 11px;
  letter-spacing: 0.00938em;
  line-height: 1.1876em;
  font-weight: 400;
  border: 1px solid;
}

.fee {
  font-size: 9px;
  color: #e8b32c;
  font-weight: 500;
  padding-left: 1.7rem !important;
}

.tokenBtn {
  margin-left: 1.5rem;
  background: #f0f1f2;
  border-radius: 26px;
  border: 1px solid #e1dfdf;
  color: rgba(89, 89, 89, 0.4196078431372549);
  padding: 0.3rem 2rem;
  transition: all 0.3s;
}

.tokenBtn:hover {
  cursor: pointer;
  background-color: #e8b32c;
  color: #e1dfdf;
}

.info {
  font-size: 9px;
  color: red;
  font-weight: 500;
  padding-top: 0px !important;
  padding-left: 1.7rem !important;
}

.check_div {
  display: flex;
  align-items: center;
}

.check_div input {
  width: 5% !important;
}

.check_div input:hover {
  cursor: pointer;
}

.check_div span {
  font-size: 0.9rem;
  font-weight: 600;
}

/* /////////////////////////////////// */

.css-1lwbda4-MuiStack-root {
  padding: 0 !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 47% !important;
  padding: 0 !important;
  border: 0px !important;
}

.MuiOutlinedInput-root {
  border-radius: 45px !important;
  justify-content: space-between !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(89, 89, 89, 0.4196078431372549) !important;
}

@media Screen and (max-width: 500px) {
  .tokenForm div input {
    width: 90% !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 90% !important;
  }

  .token_h1 {
    font-size: 1.5rem;
  }
}
